<div class="tt-section padding-bottom-xlg-150">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-page-nav tt-pn-stroke tt-pn-center">
      <a
        href="portfolio-grid-creative.html"
        class="tt-pn-link anim-fadeinup"
        data-cursor="<i class='fas fa-arrow-right'></i>"
      >
        <div class="tt-pn-title">Portfolio</div>
        <div class="tt-pn-hover-title">Portfolio</div>
      </a>
      <div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
    </div>
  </div>
</div>
