---
const { header, subheader } = Astro.props;
// There is a problem with this component ignore it
---

<div id="content-wrap">
  <div
    id="page-header"
    class="ph-cap-lg ph-ghost-scroll ph-image-cropped ph-image-cover-2 ph-content-parallax"
  >
    <div class="page-header-inner tt-wrap">
      <div class="ph-caption">
        <div class="ph-caption-subtitle">
          <div class="ph-appear">{header?.value}</div>
        </div>
        <h1 class="ph-caption-title">
          <div class="ph-appear">{subheader?.value}</div>
        </h1>
        <div class="ph-caption-title-ghost">
          <div class="ph-appear">{subheader?.value}</div>
        </div>
      </div>
    </div>
  </div>
</div>
