---
const { header, body, signature } = Astro.props;
---

<!-- hardcoded text -->
<div
  id="page-header"
  class="ph-full ph-cap-lg ph-ghost-scroll ph-image-cropped ph-content-parallax"
>
  <div class="page-header-inner tt-wrap">
    <div class="ph-image">
      <div class="ph-image-inner">
        <img src="assets/img/page-header/ph-1.jpg" alt="Image" />
      </div>
    </div>

    <div class="ph-caption max-width-1000">
      <div class="ph-caption-subtitle">
        <div class="ph-appear">About Me</div>
      </div>
      <h1 class="ph-caption-title">
        <div class="ph-appear">Stephan<br /> Gordon</div>
      </h1>
      <div class="ph-caption-title-ghost">
        <div class="ph-appear">Stephan Gordon</div>
      </div>
    </div>
  </div>

  <div class="tt-scroll-down">
    <a href="#page-content" class="tt-sd-inner ph-appear" data-offset="0">
      <div class="tt-sd-arrow">
        <div class="tt-sd-arrow-inner"></div>
      </div>
      <div class="tt-sd-text">Scroll</div>
    </a>
  </div>
</div>
<!-- end of  hardcoded text -->

<div id="page-content">
  <div class="tt-section padding-bottom-xlg-150">
    <div class="tt-section-inner tt-wrap max-width-900">
      <div class="text-xxlg">
        <h2 class="anim-fadeinup">{header.value}</h2>

        {body.map((part: any) => <p class="anim-fadeinup">{part.value}</p>)}
      </div>

      <div class="tt-signature anim-fadeinup margin-top-40">
        {
          signature.value ? (
            <img
              src={signature.value}
              class="tt-signature-light"
              alt={signature.alt || "Signature"}
            />
          ) : (
            <>
              <img
                src="assets/img/signature-light.png"
                class="tt-signature-light"
                alt="Signature"
              />
              <img
                src="assets/img/signature-dark.png"
                class="tt-signature-dark"
                alt="Signature"
              />
            </>
          )
        }
      </div>
    </div>
  </div>

  <div
    class="tt-section padding-bottom-xlg-150"
    class="tt-section-inner tt-wrap"
  >
    <div class="tt-page-nav tt-pn-stroke tt-pn-center">
      <a
        href="portfolio-grid-creative.html"
        class="tt-pn-link anim-fadeinup"
        data-cursor="<i class='fas fa-arrow-right'></i>"
      >
        <div class="tt-pn-title">Portfolio</div>
        <div class="tt-pn-hover-title">Portfolio</div>
      </a>
      <div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
    </div>
  </div>
</div>
