---
const { header, body, signature } = Astro.props;
---

<div id="page-content">
  <div class="tt-section padding-bottom-xlg-150">
    <div class="tt-section-inner tt-wrap max-width-900">
      <div class="text-xxlg">
        <h2 class="anim-fadeinup">{header.value}</h2>

        {body.map((part: any) => <p class="anim-fadeinup">{part.value}</p>)}
      </div>

      <div class="tt-signature anim-fadeinup margin-top-40">
        {
          signature.value ? (
            <img
              src={signature.value}
              class="tt-signature-light"
              alt={signature.alt || "Signature"}
            />
          ) : (
            <>
              <img
                src="assets/img/signature-light.png"
                class="tt-signature-light"
                alt="Signature"
              />
              <img
                src="assets/img/signature-dark.png"
                class="tt-signature-dark"
                alt="Signature"
              />
            </>
          )
        }
      </div>
    </div>
  </div>
</div>
