---
const { facebook, twitter, youtube, dribble, behance, instagram, copyright } =
    Astro.props;

console.log(facebook);
---

<footer id="tt-footer">
    <div class="tt-footer-inner">
        {
            /* Begin footer column 
							========================= */
        }
        <div class="footer-col tt-align-center-left">
            <div class="footer-col-inner">
                <a href="#" class="tt-btn tt-btn-link scroll-to-top">
                    <span class="tt-btn-icon"
                        ><i class="fas fa-arrow-up"></i></span
                    >
                    <div data-hover="Back to Top">Back to Top</div>
                </a>
            </div>
            {/* /.footer-col-inner */}
        </div>
        {/* Begin footer column */}

        {
            /* Begin footer column 
							========================= */
        }
        <div class="footer-col tt-align-center order-m-last">
            <div class="footer-col-inner">
                <div class="tt-copyright text-gray">
                    <a
                        href="https://themetorium.net"
                        target="_blank"
                        rel="noopener"
                        class="tt-btn tt-btn-link"
                    >
                        <span class="tt-btn-icon"
                            ><i class="far fa-copyright"></i></span
                        >
                        <div data-hover={copyright?.value && "YourBusiness"}>
                            {copyright?.value && "YourBusiness"}
                        </div>
                    </a>
                </div>
            </div>
            {/* /.footer-col-inner */}
        </div>
        {/* Begin footer column */}

        {
            /* Begin footer column 
							========================= */
        }
        <div class="footer-col tt-align-center-right">
            <div class="footer-col-inner">
                <div class="footer-social">
                    <div class="footer-social-text">
                        <span>Follow</span><i class="fas fa-share-alt"></i>
                    </div>
                    <div class="social-buttons">
                        <ul>
                            {
                                facebook && (
                                    <li>
                                        <a
                                            href={facebook?.url && "#"}
                                            class="magnetic-item"
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <i class="fab fa-facebook-f" />
                                        </a>
                                    </li>
                                )
                            }
                            {
                                twitter && (
                                    <li>
                                        <a
                                            href={twitter?.url && "#"}
                                            class="magnetic-item"
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <i class="fab fa-twitter" />
                                        </a>
                                    </li>
                                )
                            }
                            {
                                youtube && (
                                    <li>
                                        <a
                                            href={youtube?.url && "#"}
                                            class="magnetic-item"
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <i class="fab fa-youtube" />
                                        </a>
                                    </li>
                                )
                            }
                            {
                                dribble && (
                                    <li>
                                        <a
                                            href={dribble?.url && "#"}
                                            class="magnetic-item"
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <i class="fab fa-dribbble" />
                                        </a>
                                    </li>
                                )
                            }
                            {
                                behance && (
                                    <li>
                                        <a
                                            href={behance?.url && "#"}
                                            class="magnetic-item"
                                            target="_blank"
                                            rel="noopener"
                                        >
                                            <i class="fab fa-behance" />
                                        </a>
                                    </li>
                                )
                            }
                        </ul>
                    </div>
                    {/* /.social-buttons */}
                </div>
                {/* /.footer-social */}
            </div>
            {/* /.footer-col-inner */}
        </div>
        {/* Begin footer column */}
    </div>
    {/* /.tt-section-inner */}
</footer>
