---
const {logo} = Astro.props
// Menu element has been removed
---

<header id="tt-header" class="tt-header-fixed">
  <div class="tt-header-inner">
    <div class="tt-header-col">
      <div class="tt-logo">
        <a href="index.html">
          {logo?.value ? <img
            src={logo?.value}
            class="tt-logo-light magnetic-item"
            alt={logo?.alt || "Logo"}
          /> : 
          <img
            src="assets/img/logo-light.png"
            class="tt-logo-light magnetic-item"
            alt="Logo"
          />
          <img
            src="assets/img/logo-dark.png"
            class="tt-logo-dark magnetic-item"
            alt="Logo"
          />
          }
        </a>
      </div>
    </div>
  </div>
</header>
